body {
    position: relative;
}

h1.top-header a:active, h1.top-header a, h2.top-header a:active, h2.top-header a
{
    text-decoration: none;
    color: #2E63CC;
    opacity: 0.8;
}

h1.top-header a:hover, h2.top-header a:hover
{
    opacity: 1;
}

a#settings:hover
{
    cursor: pointer;
}

ul.settings-menu 
{
    margin-top: 20px;
}

ul.settings-menu li
{
    list-style-type: none;
    margin-bottom: 10px;
}
ul.settings-menu li button, ul.settings-menu li a
{
    width: 200px;
}
ul.settings-menu li button:hover, ul.settings-menu li a:hover
{
    background-color: azure;
}

h1.customer-list-header, h2.customer-list-header, h3.customer-list-header  
{
    margin: 0;
    color: #5A5A5A;
}

hr.customer-list-header-separator 
{
    margin-top: 5px;
}

header.zain-title 
{
    color: #5A5A5A;
    margin-bottom: 10px;
}

.listview-container.grid-layout.zain-listview-container 
{
    height: auto;
}
.mediumListIconTextItem.zain-listviewitem 
{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.zain-action-group 
{
    margin-top: 14px;
}

h1.zain-heading, h2.zain-heading, h3.zain-heading, h4.zain-heading, h5.zain-heading, h6.zain-heading 
{
    color: #5A5A5A;
}

li.active.zain-nav-button
{
    /*background-image: -moz-linear-gradient(top, #2E63CC, #2E63CC);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2E63CC), to(#2E63CC));
    background-image: -webkit-linear-gradient(top, #2E63CC, #2E63CC);
    background-image: -o-linear-gradient(top, #2E63CC, #2E63CC);
    background-image: linear-gradient(to bottom, #2E63CC, #2E63CC);
    background-repeat: repeat-x;*/
}