ul.nav.nav-tabs.nav-stacked li.active 
{
    
}
div.order-error-container 
{
    position: relative;
    margin: 0 auto;
    width: 400px;
    z-index: 999;
    text-align: center;
}

hr.row-separator 
{
    margin: 0;
}
div.noitemfound 
{
    text-align: center;
    padding: 40px;
}
div.input-container
{
    margin-top: 10px;
    margin-bottom: 0;
}

input#inputPrice, input#inputAmount
{
    text-align: right;
    width: 118px;
}

input[type=number] 
{
    text-align: right;
    width: 118px;
}
div.control-group.input-container 
{
    display: inline-block;
}