ul.nav.nav-tabs.nav-stacked li.active 
{
    
}
div.order-error-container 
{
    position: relative;
    margin: 0 auto;
    width: 400px;
    z-index: 999;
    text-align: center;
}

hr.row-separator 
{
    margin: 0;
}
div.noitemfound 
{
    text-align: center;
    padding: 40px;
}
div.input-container, div.inputqty-container
{
    margin-top: 10px;
    margin-bottom: 0;
}

input#inputPrice 
{
    text-align: right;
    width: 118px;
}

input#inputAmount 
{
    text-align: right;
    width: 150px;
}

input[type=number] 
{
    text-align: right;
    width: 118px;
}

div.control-group.input-container 
{
    display: inline-block;
}

td.number, td.currency 
{
    text-align: right;
}

div.checkout-view .action 
{
    text-align: center;
}
div.checkout-view .action button
{
    margin-top: 30px;
}

.hidden 
{
    display: none;
}
